

.container--parallax
{
	h2{
		padding: 20px 0 10px 0;
		color: $brand-color;
	}
}

.container--parallax {
    -webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
//	margin: 0;
	padding: 15px;
	position: relative;
	width: 100%;
}

.container--home {
	height: 70vh;
}

.container .content {
	background: $content-background;
	h2{
		color: $h2-color;
	}
	border-radius: 8px;	
	margin: 100px auto;
	padding: 30px 35px;
	text-align: center;
}

 .bg-home {
    background-image: url(../assets/images/img_parallax_home.jpg);
 }